{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>penvith</title>
</head>
<link rel="stylesheet" href="{% static 'css/c1.css' %}">
<link rel="stylesheet" href="{% static 'css/c2.css' %}">
<body>
    <h1>welcome to u penvith</h1>
    <img scr="{% static 'image/257.jpg' %}" alt="penvith">
    <img scr="{% static 'image/ram-charan.jpg' %}" alt="ram-charan">
    
</body>
</html>